$bgcMain: #555555;
$bgcSecond: #242424;
$bgcItemName: #db4a63;
$bgcItem: #868686;

$textMain: #ff9443;
$textLink: #fff9f4;

$accentA: #ff43ae;
$accentB: #43aeff;
$accentC: #fff243;
$dark: #1f1f1f;
