.section {
	&__item {
		&-img {
			.img {
				background-size: 250px;
				background-position: center;
				background-repeat: no-repeat;
				width: 100%;
				cursor: pointer;
				filter: grayscale(100%);
			}
			.signatureBlendEnglishTea {
				background-image: url(../img/kappa_items/42_Signature_Blend_English_Tea.png);
			}
			.antiqueAxe {
				background-image: url(../img/kappa_items/Antique_Axe.png);
			}
			.axelParrotFigurine {
				background-image: url(../img/kappa_items/Axel_Parrot_Figurine.png);
			}
			.baddiesRedBeard {
				background-image: url(../img/kappa_items/Baddies_Red_Beard.png);
			}
			.bakeEzyCookBook {
				background-image: url(../img/kappa_items/BakeEzy_Cook_Book.png);
			}
			.batteredAntiqueBook {
				background-image: url(../img/kappa_items/Battered_Antique_Book.png);
			}
			.bearBuddyPlushToy {
				background-image: url(../img/kappa_items/BEAR_Buddy_Plush_Toy.png);
			}
			.canOfDrLuposCoffeeBeans {
				background-image: url(../img/kappa_items/Can_Of_Dr_Lupos_Coffee_Beans.png);
			}
			.canOfRatColaSoda {
				background-image: url(../img/kappa_items/Can_Of_RatCola_soda.png);
			}
			.canOfSprats {
				background-image: url(../img/kappa_items/Can_Of_Sprats.png);
			}
			.deadlyslobsBeardOil {
				background-image: url(../img/kappa_items/Deadlyslobs_Beard_Oil.png);
			}
			.drdBodyarmor {
				background-image: url(../img/kappa_items/DRD_Body_Armor.png);
			}
			.evasionArmband {
				background-image: url(../img/kappa_items/Evasion_Armband.png);
			}
			.fakeMustache {
				background-image: url(../img/kappa_items/Fake_Mustache.png);
			}
			.fireKleanGunLube {
				background-image: url(../img/kappa_items/FireKlean_Gun_Lube.png);
			}
			.gingyKeychain {
				background-image: url(../img/kappa_items/Gingy_Keychain.png);
			}
			.gloriousELightweightArmoredMask {
				background-image: url(../img/kappa_items/Glorious_E_Lightweight_Armored_Mask.png);
			}
			.golden1GPhoneSmartphone {
				background-image: url(../img/kappa_items/Golden_1GPhone_Smartphone.png);
			}
			.goldenEgg {
				background-image: url(../img/kappa_items/Golden_Egg.png);
			}
			.goldenRoosterFigurine {
				background-image: url(../img/kappa_items/Golden_Rooster_Figurine.png);
			}
			.jarOfDevilDogMayo {
				background-image: url(../img/kappa_items/Jar_Of_DevilDog_Mayo.png);
			}
			.johnBLiquidDNBGlasses {
				background-image: url(../img/kappa_items/JohnB_Liquid_DNB_Glasses.png);
			}
			.kottonBeanie {
				background-image: url(../img/kappa_items/Kotton_Beanie.png);
			}
			.lootLordPlushie {
				background-image: url(../img/kappa_items/Loot_Lord_Plushie.png);
			}
			.lvndmarksRatPoison {
				background-image: url(../img/kappa_items/LVNDMARKs_Rat_Poison.png);
			}
			.missamForkliftKey {
				background-image: url(../img/kappa_items/Missam_Forklift_Key.png);
			}
			.oldFiresteele {
				background-image: url(../img/kappa_items/Old_Firesteel.png);
			}
			.pestilyPlagueMask {
				background-image: url(../img/kappa_items/Pestily_Plague_Mask.png);
			}
			.pressPassIssuedForNoiceGuy {
				background-image: url(../img/kappa_items/Press_Pass_Issued_For_NoiceGuy.png);
			}
			.ravenFigurine {
				background-image: url(../img/kappa_items/Raven_Figurine.png);
			}
			.shroudHalf-Mask {
				background-image: url(../img/kappa_items/Shroud_Half-Mask.png);
			}
			.silverBadge {
				background-image: url(../img/kappa_items/Silver_Badge.png);
			}
			.smokeBalaclava {
				background-image: url(../img/kappa_items/Smoke_Balaclava.png);
			}
			.veritasGuitarPick {
				background-image: url(../img/kappa_items/Veritas_Guitar_Pick.png);
			}
			.videoCassetteWithTheCyborgKillerMovie {
				background-image: url(../img/kappa_items/Video_Cassette_With_The_Cyborg_Killer_Movie.png);
			}
			.wzWallet {
				background-image: url(../img/kappa_items/WZ_Wallet.png);
			}
		}
	}
}
